{% extends 'base.html' %}

{% block page %}

<div class="playlistsContainer">

	<div class="gridViewContainer">
		<h2>PLAYLISTS</h2>

		<div class="buttonItems">
			<button class="button green" onclick="createPlaylist({{ current_user.id }})">NEW PLAYLIST</button>
		</div>

    {% if playlists %}
    {% for playlist in playlists %}
    <div class='gridViewItem' role='link' tabindex='0' onclick="openPage('{{ url_for("page.playlist", id=playlist.id) }}')">

      <div class='playlistImage'>
        <img src="{{ url_for('static', filename='images/icons/playlist.png') }}">
      </div>
      
      <div class='gridViewInfo'>
      {{ playlist.name }}
      </div>

    </div>
    {% endfor %}
    {% else %}
    <span class='noResults'>You don't have any playlists yet.</span>
    {% endif %}

	</div>
</div>


{% endblock %}